.jumbotron-fluid {
    background-color: black;
    margin-bottom: 0px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bottom-right {
    /*position: absolute; */
    /*bottom: 0;*/
    /*right: 0;*/
}

.margin {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

.userMessage {
    font-size: 14px;
}

.scrollable {
    overflow-y: auto;
    height: 450px;
}

body {
    /*background-color: #526dcc;*/
    /*https://tctechcrunch2011.files.wordpress.com/2016/05/robot-customer-service.png?w=738*/
    background:  url(../img/robot-customer-service-dark.png) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.form-inline {
	margin-bottom: 0px;
}

.see-through {
	background: rgba(22, 22, 22, 0.6);
}

.title {
	font-family: 'Love Ya Like A Sister', cursive;
	font-weight: bold;
	color: #a7f265;
}


/* CSS talk bubble */
.talk-bubble-voice {
	width: auto !important;
	background-color: #cff09b !important;
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 500px;
	height: auto;
	background-color: #f5f5a9;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #cff09b transparent transparent transparent;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: #f5f5a9 transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}